<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="google-site-verification" content="key" />

  <title>Page Fabiano</title>
  <meta name="description"
        content="We are Video game digital marketing agency." />

  <script src="https://gamerseo.com/js/app.js" defer></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link href="https://gamerseo.com/css/fontello.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <link href="https://gamerseo.com/css/services.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="toolbar" role="banner">
      <main id="app">
        <br>
        <section id="hero">
          <div class="section-wrapper">
            <div class="section-header">
              <div class="container">
                <div class="row">
                  <div class="col-12 wrapper">
                    <h2 class="hero-title">Desenvolvimento Web com Criatividade e Inovação.</h2>
                    <p class="hero-text">Transformando ideias em experiências digitais memoráveis. Especialista em criar soluções web que impulsionam o sucesso dos negócios.</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section id="skillsSelect">
          <div id="skills" class="outer_skill">
            <div class="skills">
              <div class="skill_heading">
                <h1>Skills</h1>
              </div>
              <div class="skill">
                <span class="skill_span">
                  <img src="https://img.icons8.com/nolan/64/00C6FF/0072FF/html.png" alt="html_icon" />
                  <br />
                  <span class="name">HTML</span>
                </span>
                <span class="skill_span">
                  <img src="https://img.icons8.com/nolan/64/00C6FF/0072FF/css-filetype.png" alt="css_icon" />
                  <br />
                  <span class="name">CSS</span>
                </span>
                <span class="skill_span">
                  <img src="https://img.icons8.com/nolan/64/00C6FF/0072FF/js.png" alt="js_icon" />
                  <br />
                  <span class="name">JS</span>
                </span>
                <span class="skill_span">
                    <img src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/181_Java_logo_logos-512.png" alt="java_icon" width="64" height="64" />
                    <br />
                    <span class="name">Java</span>
                </span>

                <span class="skill_span">
                  <img src="https://img.icons8.com/nolan/64/00C6FF/0072FF/sql.png" alt="sql_icon" />
                  <br />
                  <span class="name">SQL</span>
                </span>
                <span class="skill_span">
                  <img src="https://img.icons8.com/nolan/64/00C6FF/0072FF/linux--v2.png" alt="linux--v2" />
                  <br />
                  <span class="name">Linux</span>
                </span>
                <span class="skill_span">
                  <img src="https://img.icons8.com/nolan/64/00C6FF/0072FF/git.png" alt="git_icon" />
                  <br />
                  <span class="name">Git</span>
                </span>
                <span class="skill_span">
                  <img src="https://img.icons8.com/nolan/64/00C6FF/0072FF/api.png" alt="api" />
                  <br />
                  <span class="name">API</span>
                </span>
                <span class="skill_span">
                  <img src="https://img.icons8.com/nolan/64/00C6FF/0072FF/github.png" alt="github_icon" />
                  <br />
                  <span class="name">Github</span>
                </span>
                <span class="skill_span">
                  <img src="https://img.icons8.com/nolan/64/00C6FF/0072FF/canva.png" alt="canva" />
                  <br />
                  <span class="name">Canva</span>
                </span>
              </div>
            </div>
          </div>
        </section>



        <section id="services">
          <div class="section-wrapper">
            <div class="section-header">
              <div class="container">
                <div class="row">
                  <div class="col-12 wrapper">
                    <h2>Serviços de Desenvolvimento</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="container my-5">
              <div class="row" style="text-align: center">
                <div class="col-md-4 service">
                  <div class="mb-3">
                    <!---java-->
                    <img class="img-fluid" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" alt="Java">

                  </div>
                  <div class="description">
                    <div class="article-header mb-3">
                      <h3 class="text-normal">
                        <a class="title">
                          JAVA
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>




                <div class="col-md-4 service">
                  <div class="mb-3">
                    <!---java-->
                    <img class="img-fluid" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript">

                  </div>
                  <div class="description">
                    <div class="article-header mb-3">
                      <h3 class="text-normal">
                        <a class="title">
                          JAVA-SCRIPT
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>



                <div class="col-md-4 service">
                  <div class="mb-3">

                    <img class="img-fluid" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" alt="HTML5">

                  </div>
                  <div class="description">
                    <div class="article-header mb-3">
                      <h3 class="text-normal">
                        <a class="title">
                          HTML
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>



                <div class="col-md-4 service">
                  <div class="mb-3">
                    <img class="img-fluid" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" alt="CSS3">

                  </div>
                  <div class="description">
                    <div class="article-header mb-3">
                      <h3 class="text-normal">
                        <a class="title" >
                          CSS
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>


                <div class="col-md-4 service">
                  <div class="mb-3">
                    <img class="img-fluid" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/scala/scala-original.svg" alt="Scala">

                  </div>
                  <div class="description">
                    <div class="article-header mb-3">
                      <h3 class="text-normal">
                        <a class="title">
                          SCALA
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 service">
                  <div class="mb-3">
                    <img class="img-fluid" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/spring/spring-original.svg" alt="Spring Boot">

                  </div>
                  <div class="description">
                    <div class="article-header mb-3">
                      <h3 class="text-normal">
                        <a class="title">
                          Spring Boot
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>

                <div class="col-md-4 service">
                  <div class="mb-3">
                    <img class="img-fluid" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jquery/jquery-original.svg" alt="jQuery">

                  </div>
                  <div class="description">
                    <div class="article-header mb-3">
                      <h3 class="text-normal">
                        <a class="title">
                          jQuery
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 service">
                  <div class="mb-3">
                    <img class="img-fluid" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="Bootstrap">
                  </div>
                  <div class="description">
                    <div class="article-header mb-3">
                      <h3 class="text-normal">
                        <a class="title" >
                          Bootstrap
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 service">
                  <div class="mb-3">
                    <img class="img-fluid" src="https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/21_Angular_logo_logos-512.png" alt="jQuery">

                  </div>
                  <div class="description">
                    <div class="article-header mb-3">
                      <h3 class="text-normal">
                        <a class="title">
                          Angular
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </section>


      </main>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.min.js'></script>
      <script src='https://github.com/mrdoob/three.js/blob/master/src/constants.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js'></script><script  src="./script.js"></script>
      <script>
        (function () {
          let images = document.querySelectorAll('.service-content img');
          let service_box = document.querySelector('.service-content');

          for (const image of images) {
            if (image.complete) {
              continue;
            }

            image.style.opacity = 0;

            const offsetTop = image.offsetTop;
            const offsetLeft = image.offsetLeft;
            const div = document.createElement('div');

            div.classList.add('placeholder');
            div.dataset.src = image.src;

            const height = image.clientHeight;
            const width = image.clientWidth;

            div.style.left = offsetLeft + 'px';
            div.style.top = offsetTop + 'px';
            div.style.position = 'absolute'
            div.style.width = width + 'px';

            const newWidth = service_box.clientWidth > width ? width : service_box.clientWidth;
            const newHeight = (height / width) * newWidth;

            div.style.height = newHeight + 'px';
            service_box.appendChild(div);

            image.addEventListener('load', ((e) => {
              const images = document.querySelectorAll(`.service-content img[src='${e.target.src}']`);

              images.forEach((item) => {
                item.style.opacity = 1;
              });

              const placeholders = document.querySelectorAll(`div[data-src='${e.target.src}']`);

              placeholders.forEach((item) => {
                item.classList.add('placeholder--hidden');
              });
            }));
          }
        })();
      </script>
    </div>
  </div>
</div>
<section id="contact" style="background-color: #065557;">
  <div class="section-header" style="padding: 50px 0 0 0 !important;">
    <div class="container">
      <div class="row">
        <div class="col-12 wrapper">
          <h2>Sobre</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="section-content contact-form">
    <div class="container d-flex justify-content-center align-items-center">
      <div>
        <img src="https://cdn3d.iconscout.com/3d/free/thumb/free-short-hair-man-with-vr-9606389-7766934.png?f=webp" alt="">
      </div>
      <form>
        <!-- Name -->
        <div class="form-group position-relative">
          <label for="formName" class="d-block">
            <i class="icon" data-feather="user"></i>
          </label>
          <h4>Nome</h4>
          <input  id="formName" class="form-control form-control-lg thick" placeholder="Fabiano vieira Guimaraes" readonly>
        </div>

        <!-- E-mail -->
        <div class="form-group position-relative">
          <h4>Email</h4>
          <input id="formEmail" class="form-control form-control-lg thick" placeholder="fabianovgg00@gmail.com" readonly>
        </div>

        <!-- Message -->
        <h4>Redes Sociais</h4>
        <div class="form-group message">
          <a href="https://www.facebook.com/fabiano.vieira.90813" class="btn btn-primary" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
          </a>

          <!-- Botão do Instagram -->
          <a href="https://www.instagram.com/fabiano.2812/" class="btn btn-danger" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>

          <!-- Botão do LinkedIn -->
          <a href="https://www.linkedin.com/in/fabiano-vieira-205879251/" class="btn btn-info" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
          </a>

          <!-- Botão do GitHub -->
          <a href="https://github.com/fabiano2812" class="btn btn-dark" target="_blank" aria-label="GitHub">
            <i class="fab fa-github"></i>
          </a>
        </div>


      </form>

    </div>
  </div>
</section>

</body>

</html>

